<form action="<%= method == 'post' ? subs_path : sub_path(@sub) %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>" id="_method">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="Category">Category</label><br>
	<input type="text" name="sub[category]" value="<%= @sub.category %>" id="Category"><br>
		
	<input type="submit" name="submit" value="Submit Information" id="submit">
	
</form>
