<h1>Welcome to Saiddit!</h1>

<p>A Reddit ripoff for the ages! Log in if you want to create subs.</p>

<table>
  <tr>
    <th>Category</th>
    <th>Moderator</th>

  </tr>

<% @subs.each do |sub| %>
  <tr>
    <td><%= link_to sub.category, sub %></td>
    <td><%= User.find(sub.moderator_id).username %></td>
  </tr>
<% end %>
</table>

<br />